page {
  width: 100%;
  height: 100%;
}

.tabbar {
  display: flex;
  font-size: 28rpx;
  height: 100rpx;
  width: 100%;
  background-color: burlywood;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;

  .home,
  .kitchen,
  .shopping,
  .newcamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    image {
      height: 46rpx;
      width: 46rpx;
      margin-top: 10rpx;
      display: block;
    }
  }



}

